<%- include('./../partials/header') %>

<h1>Skill: <%=skill.skill%></h1>
<h4>Proficiency: <%=skill.proficiency %> / 5</h4>
<h4>Should relearn: <%= (skill.relearn) ? 'Yes' : 'Nah'%></h4>

<%- include('./../partials/footer') %>
